@use "src/styles/scss/mixins";

.section {
}

.textContent {
  h2 {
    margin-bottom: 24px;
  }

  a {
    margin-top: 48px;
  }

  @include mixins.lg {
    margin-bottom: 0;

    p {
      &:last-of-type {
        display: none;
      }
    }
  }
}
