@use "src/styles/scss/mixins";

.section {
  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;

    h2 {
      font: var(--heading-large);
    }
  }

  @include mixins.lg {
    .headline {
      flex-direction: column;
      gap: 40px;
      margin-bottom: 48px;
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mixins.lg {
    gap: 16px;
    align-items: stretch !important;
  }
}

.question {
  background-color: rgb(var(--white));
  border-radius: 56px;

  & > summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
    transition: 400ms;
    padding-right: 32px;
    padding-left: 48px;

    h3 {
      font: var(--body-md);
      font-weight: 600;
    }

    .icon {
      padding: 14px;
      background-color: rgb(var(--orvalho));
      border-radius: 56px;
      height: 48px;
      width: 48px;

      line {
        transform-origin: center;
        transition: 450ms;
      }
    }
  }

  .answer {
    padding: 0 48px 32px 48px;

    p {
      padding-top: 16px;
    }

    @include mixins.md {
      padding: 16px 32px;
    }
  }

  &[open] {
    .icon {
      line {
        &:first-child {
          transform: rotate(270deg);
        }
        &:last-child {
          transform: rotate(180deg);
          opacity: 0;
        }
      }
    }
  }

  @include mixins.lg {
    text-align: left;
  }
}
