@use "src/styles/scss/mixins";

.section {
  padding: 140px 0;

  header {
    text-align: center;
    h2 {
      font: var(--heading-large);
      margin-bottom: 64px;
    }
  }

  @include mixins.lg {
    padding: 80px 0;
  }

  :global(.container) {
    padding: 0 24px;
  }

  :global(.row) {
    margin: 0;
    @include mixins.lg {
      gap: 16px;
    }
  }

  :global(.col-6) {
    @include mixins.lg {
      padding: 0;
      width: calc(50% - 8px);
    }
  }
}

.photo {
  display: flex;
  align-items: flex-start;
  height: 100%;

  img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    border-radius: 16px;
  }
}
