@use "src/styles/scss/mixins";

.section {
  padding: 140px 0;
  background-color: rgb(var(--folha));

  &,
  .cta,
  h2,
  p {
    transition: 400ms;
  }

  &.active {
    background-color: rgb(var(--luz));
    .cta {
      background-color: rgb(var(--borboleta));
    }
    .textContent {
      h2 {
        color: rgb(var(--siciliano));
      }
      p {
        color: rgb(var(--luz));
      }
    }
  }
}

.cta {
  position: relative;
  border-radius: 32px;
  background-color: rgb(var(--siciliano));
  overflow: hidden;

  img {
    width: auto !important;
    left: -96px !important;
  }

  @include mixins.xxl {
    img {
      left: -180px !important;
    }
  }
  
  @include mixins.xl {
    img {
      left: -280px !important;
    }
  }
  @include mixins.lg {
    img {
      display: none;
    }
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 144px 0;
  position: relative;
  width: 28%;
  margin-left: auto;
  margin-right: 80px;

  h2 {
    color: rgb(var(--borboleta));
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 40px;
    color: rgb(var(--maduro));
    width: 86%;
  }

  @include mixins.lg {
    padding: 72px 24px;
    width: 100%;
    align-items: center;

    h2,
    p {
      text-align: center;
    }
  }
}
