@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.section {
  :global(.row) {
    & > div {
      &:last-child {
        width: calc(41.66666667% + 12px);
        margin-left: auto;
      }
    }
  }
}

.image {
  position: relative;
  height: 100%;

  svg {
    position: absolute;
    width: 240px;
    height: 240px;
    top: -120px;
    left: -96px;
    animation: spin 25s infinite linear;
  }

  img {
    border-radius: 32px;
  }
}

.textContent {
  padding-top: 64px;
  padding-bottom: 32px;

  h2 {
    font: var(--heading-large);
    margin-bottom: 48px;
  }

  p {
    &:first-of-type {
      font: var(--body-lg);
      color: rgb(var(--borboleta));
      margin-bottom: 48px;
    }

    &:last-of-type {
      white-space: pre-line;
    }
  }
}
