  @use "src/styles/scss/mixins";

.section {
}

.upperHeader,
.lowerHeader {
  position: absolute;
  display: flex;

  a {
    font-weight: 700;
  }
}

.upperHeader {
  top: 6.7vh;
  gap: 40px;
  width: 100%;

  :global(.wrapper) svg {
    height: 56px;
    width: auto;
  }

  & > a {
    &:last-child {
      margin-left: auto;
      margin-right: calc(24px + 32px);
      z-index: 2;
    }
  }

  @include mixins.lg {
    align-items: center;
    justify-content: center;
    gap: 24px;
    & > a {
      &:last-child {
        display: none;
        /* margin: 0;
        font: var(--body-sm);
        padding: 0 24px;
        height: 48px; */
      }
    }
  }

  @include mixins.sm {
    display: none;
  }
}

.lowerHeader {
  bottom: 7.5vh;
  gap: 56px;

  @include mixins.lg {
    bottom: auto;
    top: 83.3vh;
    transform: translateY(-100%);
    width: 100%;
    justify-content: center;
  }

  @include mixins.sm {
    display: none;
  }
}

.textContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;

  h1 {
    font: var(--display-ext);
    white-space: normal;
    width: 110%;
  }

  p {
    max-width: 85%;
  }

  @media (max-height: 740px) {
    gap: 24px;

    h1 {
      font: var(--display);
    }
    p {
      white-space: normal;
      max-width: 100%;
    }
  }

  @include mixins.lg {
    height: auto;
  }

  @include mixins.md {
    max-width: 100%;
  }
}
