@use "src/styles/scss/mixins";

.offering {
  position: relative;
  background-color: rgb(var(--siciliano), 0.8);
  padding: 24px 32px 12px;
  border-radius: 32px;
  margin-top: 48px;
  width: calc(100% + 32px);
  left: -16px;

  header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    svg {
      height: 56px;
      width: 56px;
    }

    h3 {
      color: rgb(var(--borboleta));
    }
  }

  p {
    font: var(--body-sm);
    color: rgb(var(--maduro));
  }

  a {
    margin-left: -24px;
  }

  @include mixins.lg {
    header {
      justify-content: center;
    }

    a {
      margin: 0;
    }
  }
  @include mixins.md {
    width: 100%;
    left: auto;
    padding: 24px 12px;
  }
}
