@use "src/styles/scss/mixins";

.slide {
  --spacing: 3.4vh;
  position: relative;
  clip-path: inset(0 0 round 32px);
  overflow: hidden;
  height: calc(100vh - (var(--spacing) * 2));
  margin-top: var(--spacing);
  cursor: pointer;
  user-select: none;

  &:hover {
    img {
      transform: scale(1.07) rotate(-3deg);
    }

    h2 {
      color: rgb(var(--siciliano));
    }

    p {
      color: rgb(var(--luz));
    }

    &::after {
      opacity: 0;
    }
  }

  &::after, &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 32px;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::after {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(0, 0, 0, 0.2) 100%);
    transition: 400ms;
  }

  img {
    transition: 400ms;
  }

  .infos {
    position: absolute;
    z-index: 2;
    bottom: 48px;
    right: 48px;
    text-align: right;

    h2 {
      transition: 350ms;
      color: rgb(var(--luz));
    }

    p {
      transition: 350ms;
      color: rgb(var(--siciliano));
    }
  }

  .controls {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    bottom: 48px;
    left: 48px;
    padding: 12px 16px;
    border: 1px solid #bde9c9;
    border-radius: 80px;

    & > div {
      cursor: pointer;

      svg {
        color: white;
        vertical-align: middle;
      }
    }
  }

  &.short {
    height: auto;
    aspect-ratio: 1/1.05;
    margin-top: 0;

    .infos {
      text-align: left;
      right: auto;
      left: 48px;
    }
  }

  @include mixins.lg {
    height: 70vh;
  }
}
