@use "src/styles/scss/mixins";

.wrapper {
  text-align: center;
}

.inner {
  & > svg {
    height: 160px;
    width: auto;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
  margin-top: 48px;

  a {
    width: 100%;
    justify-content: center;

    &:hover {
      img {
        filter: brightness(0) saturate(100%) invert(21%) sepia(74%) saturate(529%) hue-rotate(334deg) brightness(100%)
          contrast(94%);
      }
    }

    img {
      position: absolute;
      left: 32px;
      transition: 400ms;
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--folha));
  padding: 40px 48px;
  border-radius: 32px;
  height: 100%;
  text-align: center;

  h2 {
    font: var(--heading-extra-small);
    color: rgb(var(--siciliano));
    margin-bottom: 24px;
  }

  p {
    color: rgb(var(--luz));
    margin-bottom: 32px;
  }

  @include mixins.lg {
    padding: 40px 24px;
    h2 {
      padding: 0 32px;
    }
  }
}
