@use "src/styles/scss/mixins";

.section {
  :global(.col-12) {
    position: relative;
  }

  &.cases {
    .content {
      background-color: rgb(var(--borboleta));
    }
  }
  &.hotel {
    .content {
      & + img {
        height: calc(100% + 104px);
        bottom: -24px;
      }
    }
  }
}

.content {
  padding: 106px 0;
  padding-left: 10.5%;
  background-color: rgb(var(--folha));
  border-radius: 32px;

  & > div {
    max-width: 335px;
  }

  h2 {
    margin-bottom: 24px;
    color: rgb(var(--siciliano));
  }

  p {
    margin-bottom: 40px;
    color: rgb(var(--luz));
  }

  & + img {
    position: absolute;
    bottom: 0;
    right: 12px;
    margin-right: 8%;
    height: calc(100% + 64px);
    width: auto;
  }

  @include mixins.xxl {
    padding: 80px 0;
    padding-left: 8.5%;
    & + img {
      right: 0;
      margin: 0;
    }
  }

  @include mixins.lg {
    padding: 96px 12px;
    display: flex;
    flex-direction: column;

    & + img {
      display: none;
    }
  }
}
