@use "src/styles/scss/mixins";

.section {
  a {
    display: block;
  }

  [data-display="false"] {
    display: none;
  }
}

.notFound {
  font: var(--heading-medium);
  margin: 48px 0;
  text-align: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--white));
  padding: 8px 36px;
  border-radius: 56px;
  transform: translateY(-50%);
  position: relative;
  z-index: 1;

  & > button:not(:global(.wrapper))[data-filter-value] {
    font: var(--body-sm);
    padding: 8px 12px;
    border-radius: 16px;
    /* height: 60px; */

    & > div {
      flex-direction: column;
      gap: 4px;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .div {
    width: 1px;
    height: calc(100% + 16px);
    margin-top: -8px;
    background-color: rgb(var(--orvalho), 0.5);
  }

  @include mixins.lg {
    padding: 32px 8px;
    transform: none;
    margin-top: 24px;
    border-radius: 32px;

    .div {
      display: none;
    }
  }
}
