@use "src/styles/scss/mixins";

.header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(var(--white));
  transition: 400ms;
  box-shadow: 10px 10px 42px 0px rgba(8, 15, 52, 0.06);

  & > :global(.container) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(var(--white));
  }

  .logo {
    svg {
      height: 56px;
      width: auto;
    }
  }

  .links {
    display: flex;
    gap: 40px;

    & > [data-dd-trigger] {
      &:hover {
        & > a {
          svg {
            transform: rotate(180deg);
          }
        }
        .dropdown {
          transform: translateY(100%);
          opacity: 1;
          &:hover {
            transform: translateY(100%);
            opacity: 1;
          }
        }
      }
    }
    &[data-desktop] {
      & > [data-collapse-trigger],
      & > [data-open] {
        display: none;
      }
    }

    [data-collapse-trigger] {
      button {
        & > div {
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
      }
    }

    :global(.content) {
      ul {
        background: rgb(var(--orvalho), 0.25);
        border-radius: 16px;
        li {
          padding: 24px;
          &:last-child {
            border-top: 1px solid rgb(var(--orvalho), 0.5);
            margin-top: 0;
          }
        }
      }
    }
  }

  &.home {
    transform: translateY(-100%);

    &:global(.active) {
      transform: translateY(0);
    }
  }

  @include mixins.xl {
    .logo {
      svg {
        height: 48px;
      }
    }

    .links {
      gap: 24px;
    }
  }

  @include mixins.lg {
    :global {
      .container {
        flex-wrap: wrap;

        .content {
          width: 100%;
        }
      }
    }

    .dropdown {
      display: none;
    }

    .links {
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding: 24px 44px;

      li,
      [data-collapse-trigger] {
        width: 100%;
        text-align: center;
        justify-content: center;

        &:not(:nth-last-child(2), :last-child) {
          border-bottom: 1px solid rgb(var(--orvalho), 0.5);
        }

        &:not(:last-child) {
          padding: 20px 0;
        }

        &:last-child {
          margin-top: 16px;
        }
      }

      &[data-desktop] {
        display: none;
      }

      & > [data-dd-trigger] {
        display: none;
      }
    }

    button[title="Menu"] {
      height: 40px;
      width: 40px;
      justify-content: center;
      padding: 0;

      svg {
        &:last-child {
          display: none;
        }
      }
      &.active {
        background-color: transparent;
        svg {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
      }
    }
  }
}

.dropdown {
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: 350ms 200ms;

  & > div {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(var(--white));
    border-radius: 0 32px 32px 32px;
  }

  & + a {
    svg {
      transition: 350ms;
    }
  }

  .dropdownItem {
    transition: 350ms;
    a {
      align-items: center;
      gap: 24px;
      padding: 16px;

      & > svg {
        width: 96px;
        height: 96px;
        circle,
        g {
          transition: 400ms;
          transform-origin: center;
        }
      }

      & > div {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        max-width: 200px;
        gap: 8px;

        span {
          transition: 350ms;
          &:first-child {
            color: rgb(var(--folha-escura));
          }

          &:last-child {
            color: rgb(var(--borboleta));
            font: var(--body-sm);
          }
        }
      }
    }

    &:hover {
      background-color: rgb(var(--luz), 0.25);
      a {
        & > svg {
          overflow: visible;
          g {
            transform: scale(1.1);
          }
          circle {
            opacity: 1;
            transform: scale(0.9);
          }
        }
        & > div {
          span {
            &:first-child {
              color: rgb(var(--borboleta));
            }

            &:last-child {
              color: rgb(var(--folha-escura));
            }
          }
        }
      }
    }
  }
}
