.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  background-color: rgb(var(--luz));

  & > :global(.container) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    svg {
      height: 56px;
      width: auto;
    }
  }

  .links {
    display: flex;
    gap: 40px;

    a {
      font-weight: 700;
    }
  }
}
