@use "src/styles/scss/mixins";

.section {
  padding: 40px 0;

  @include mixins.lg {
    :global(.row) {
      gap: 56px;
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(var(--folha));
  padding: 40px 48px;
  border-radius: 32px;
  height: 100%;

  h2 {
    font: var(--heading-extra-small);
    color: rgb(var(--siciliano));
    margin-bottom: 24px;
  }

  p {
    color: rgb(var(--luz));
    margin-bottom: 32px;
  }

  @include mixins.lg {
    padding: 40px 24px;
  }
}

.footer {
  background-color: rgb(var(--white));
  border-radius: 32px;
  padding: 56px 48px 24px 48px;

  .links {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 80px;

    .nav {
      display: flex;
      gap: 40px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      a {
        color: rgb(var(--folha));
      }
    }
  }

  .detail {
    display: flex;
    justify-content: space-between;

    small {
      color: rgb(var(--folha));

      &:first-of-type {
        display: flex;
        gap: 8px;

        & > span {
          color: rgb(var(--lima));
        }
      }

      &:last-of-type {
        font-weight: 600;
      }
    }
  }

  @include mixins.lg {
    padding: 40px 24px;

    .links {
      padding: 0;
      flex-direction: column-reverse;
      gap: 36px;

      .nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    .detail {
      flex-wrap: wrap;
      justify-content: center;

      small {
        flex-direction: column;
        align-items: center;

        &:first-of-type {
          gap: 0;
          margin-bottom: 24px;
        }
      }
    }
  }
}
