@use "animations";
@use "mixins";

@include animations.tip-animation;

button {
  all: unset;
}

.btn {
  font: var(--body-md);
  cursor: pointer;
  padding: 0px 24px;
  color: rgb(var(--luz));
  background-color: rgb(var(--borboleta));
  display: inline-flex;
  align-items: center;
  border-radius: 56px;
  gap: 16px;
  height: 56px;
  transition: background-color 350ms, color 350ms, scale 350ms;

  span {
    font-weight: 600;
  }

  &:hover {
    color: rgb(var(--maduro));
    background-color: rgb(var(--siciliano));

    &:not(.transparent) {
      scale: 0.95 !important;

      & > div {
        transform: scale(calc(1 / 0.95));
      }
    }
  }

  &.inverted {
    color: rgb(var(--maduro));
    background-color: rgb(var(--siciliano));
    &:hover {
      color: rgb(var(--luz));
      background-color: rgb(var(--borboleta));
    }
  }

  &.transparent {
    color: rgb(var(--maduro));
    background-color: transparent;
    &:hover {
      background-color: rgb(var(--siciliano), 0.4);
    }
  }

  &.folha {
    color: rgb(var(--orvalho));
    background-color: rgb(var(--folha));
    &:hover {
      color: rgb(var(--folha));
      background-color: rgb(var(--orvalho));
    }

    &.transparent {
      color: rgb(var(--folha));
      background-color: transparent;
      &:hover {
        background-color: rgb(var(--orvalho), 0.4);
      }
    }

    &.inverted {
      color: rgb(var(--folha));
      background-color: rgb(var(--orvalho));
      &:hover {
        color: rgb(var(--orvalho));
        background-color: rgb(var(--folha));
      }
    }
  }

  @media (max-width: 1200px), (max-height: 600px) {
    padding: 0 16px;
    font: var(--body-sm);
  }

  &.sm {
    font: var(--body-sm);
    padding: 0 24px;
    height: 48px;

    @media (max-width: 1200px), (max-height: 600px) {
      padding: 0 16px;
    }
  }

  &.lg {
    padding: 0 32px;
    height: 64px;
    @media (max-width: 1200px), (max-height: 600px) {
      padding: 0 24px;
    }
  }

  &.tag {
    font: var(--body-detail);
    padding: 8px 16px;
  }
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  transition: all 350ms;
  position: relative;
  font-weight: 600;

  span {
    transition: transform 350ms;
    display: inline-block;
    position: relative;
  }

  &:hover {
    .arrow-shaft {
      animation: draw-tip 400ms both;
    }
    .arrow-tip {
      animation: draw-tip 400ms 400ms both;
    }
  }

  &:not(.btn, .link-image) {
    span {
      &::after {
        content: "";
        background-color: rgb(var(--borboleta));
        display: inline-block;
        position: absolute;
        bottom: -6.5px;
        left: 0;
        width: 100%;
        height: 3px;
        transition: transform 500ms;
        transform: scaleX(0);
        transform-origin: left;
      }
    }

    &:hover {
      span {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &:not(:has(span)) {
    color: rgb(var(--borboleta));

    &:hover {
      color: rgb(var(--casca));
    }
  }
}

a,
.btn {
  & > div {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: transform 350ms;
  }

  &.gap-sm {
    gap: 12px;
  }
}
