:root {
  /* grayscale */
  --white: 255, 255, 255;
  --light-gray: 221, 221, 221;
  --gray: 153, 153, 153;
  --dark-gray: 102, 102, 102;
  --shadow: 70, 70, 70;
  --black: 41, 41, 41;

  /* brand */
  --folha-escura: 15, 40, 48;
  --folha: 0, 72, 81;
  --lima: 0, 191, 111;
  --orvalho: 189, 233, 201;
  --borboleta: 255, 106, 57;
  --casca: 190, 83, 28;
  --maduro: 115, 56, 29;
  --siciliano: 246, 235, 97;
  --luz: 255, 244, 224;

  /* support */
  --error: 255, 102, 115;
  --warning: 245, 214, 123;
  --success: 10, 194, 133;
}

body {
  background-color: rgb(var(--luz));
  color: rgb(var(--folha-escura));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--folha));
}