@use "mixins";

:root {
  // heading-fluid
  --display-ext: 500 clamp(48px, 6.7vw, 120px) / clamp(56px, 7.2vw, 136px) var(--calistoga);
  --display: 500 clamp(40px, 5.5vw, 100px) / clamp(48px, 6.7vw, 112px) var(--calistoga);
  --heading-large: 500 clamp(36px, 4.4vw, 80px) / clamp(44px, 5.5vw, 96px) var(--calistoga);
  --heading-medium: 500 clamp(32px, 3.3vw, 60px) / clamp(40px, 4.4vw, 80px) var(--calistoga);
  --heading-small: 500 clamp(28px, 2.8vw, 48px) / clamp(36px, 3.9vw, 64px) var(--calistoga);
  --heading-extra-small: 500 clamp(24px, 2.2vw, 40px) / clamp(32px, 2.8vw, 48px) var(--calistoga);
  
  // body text
  --body-lg: 400 20px/32px var(--nunito);
  --body-md: 400 18px/28px var(--nunito);
  --body-sm: 400 14px/24px var(--nunito);
  --body-detail: 400 12px/18px var(--nunito);

  @media (min-width: 576px) {
    --body-lg: 400 24px/36px var(--nunito);
    --body-md: 400 20px/32px var(--nunito);
    --body-sm: 400 16px/24px var(--nunito);
    --body-detail: 400 14px/21px var(--nunito);
  }

  @media (min-width: 1920px) {
    --body-lg: 400 28px/40px var(--nunito);
    --body-md: 400 22px/34px var(--nunito);
    --body-sm: 400 18px/28px var(--nunito);
    --body-detail: 400 15px/22px var(--nunito);
  }

  @media (min-width: 2560px) {
    --body-lg: 400 32px/44px var(--nunito);
    --body-md: 400 24px/36px var(--nunito);
    --body-sm: 400 20px/32px var(--nunito);
    --body-detail: 400 16px/24px var(--nunito);
  }
}

body {
  font: var(--body-md);
  font-family: var(--nunito);
  letter-spacing: 0.01em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  white-space: break-spaces;

  @include mixins.sm {
    white-space: normal;
  }
}

small {
  font: var(--body-sm);
}
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal;
}

h1 {
  font: var(--heading-large);
}
h2 {
  font: var(--heading-medium);
}
h3 {
  font: var(--heading-small);
}
h4 {
  font: var(--heading-extra-small);
}
