@use "src/styles/scss/mixins";

.section {
  background-color: rgb(var(--folha));

  & > a:global(.btn) {
    display: none;
  }

  &.blog {
    text-align: center;

    & > div {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 40px;
    }

    .headline {
      margin-bottom: 56px;
      h2 {
        font: var(--heading-large);
      }
    }
  }
}

.headline {
  margin-bottom: 40px;
  h2 {
    font: var(--heading-small);
    color: rgb(var(--luz));
  }
}

.button {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;

  @include mixins.lg {
    justify-content: center;
  }
}

.videos {
  video {
    width: 100%;
    height: 504px;
    border-radius: 24px;
  }

  @include mixins.lg {
    margin-top: 48px;
  }
}
